<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="file.css">
  <title>Title</title>
  <script src="file.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</head>
<body>
<page sizeX="{{.Spec.Canvas.Width}}" sizeY="{{.Spec.Canvas.Height}}"><h1>Lorem ipsum dolor sit amet.</h1>
  <div id="qrcode"></div>
  <button name="print" id="print" >print</button>
</page>
<script>
  $(document).ready(function() {
    // Generate QR code
    // https://stackoverflow.com/questions/37803884/qr-code-using-jquery
    // https://www.barcoderesource.com/qrcodebarcode.shtml
    // https://github.com/jeromeetienne/jquery-qrcode
    $('#qrcode').qrcode({
      text: "https://www.example.com" // Replace this with the text or URL you want to encode
    });

    // Print the page
    $('#print').click(function() {
      printCurrentPage()
    });
  });
</script>
</body>
</html>
