<!DOCTYPE html>
<html lang="en">
<head>
  <title>Title</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ .Spec.Output.Css.Filename }}">
  <script src="{{ .Spec.Output.Js.Filename }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<page sizeX="{{.Spec.Canvas.Width}}" sizeY="{{.Spec.Canvas.Height}}">
  <h1 class="{{(index .Spec.Layers 0).Class}}">{{(index .Spec.Layers 0).Value}}</h1>
  <div id="{{(index .Spec.Layers 1).Name}}"></div>
  <p class="{{(index .Spec.Layers 2).Class}}">{{(index .Spec.Layers 2).Value}}</p>
</page>
<script>
  $(document).ready(function() {
    // Generate QR code
    // https://stackoverflow.com/questions/37803884/qr-code-using-jquery
    // https://www.barcoderesource.com/qrcodebarcode.shtml
    // https://github.com/jeromeetienne/jquery-qrcode
    $('#{{(index .Spec.Layers 1).Name}}').qrcode({
      text: "{{(index .Spec.Layers 1).Value}}" // Replace this with the text or URL you want to encode
    });
  });
</script>
</body>
<script>
  let lastSHA = null;

  async function checkForUpdates() {
    try {
      const response = await fetch("/sha", { cache: "no-store" });
      const newSHA = await response.text();

      if (lastSHA && newSHA.trim() !== lastSHA.trim()) {
        console.log("Page content changed. Reloading...");
        location.reload();
      }
      lastSHA = newSHA.trim();
    } catch (error) {
      console.log("Error checking SHA:", error);
    }
  }
  setInterval(checkForUpdates, 2000); // Check every 2 seconds
</script>
</html>
