/*variables:*/
/*- page sizeX: {{.Spec.Canvas.Width}};*/
/*- page sizeY: {{.Spec.Canvas.Height}};*/

body {
  background: {{.Spec.Background.Color}};
}

/* This is what you see on WebPage */
page {
  background: lawngreen;
  display: block;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  margin: 0cm auto;
  padding: 0.0cm 0.5cm;
  position: relative;
}

/*here I set what is printed in PDF */
@media print {
  body, page {
    box-shadow: 0;
    padding-right: 0.5cm;
    margin-right: 0.5cm;
  }

  @page {
    size: 16cm 12cm; /* size of page including printing marks and printed page */
    padding: 0.5cm;
    margin: 0cm; /* Adjust margins as needed */
  }
}

/* Hide elements that should not be printed */
.no-print {
  display: none;
}

/*<page sizeX="{{.Spec.Canvas.Width}}" sizeY="{{.Spec.Canvas.Height}}"></page>*/
page[sizeX="{{.Spec.Canvas.Width}}"][sizeY="{{.Spec.Canvas.Height}}"] {
  width: {{.Spec.Canvas.Width}};
  height: {{.Spec.Canvas.Height}};
}

#qrcode {
  width: 200px;
  height: 200px;
  margin: 20px;
  background: #fc3;
}

.blah {
  color: #d32f2f; /* Slightly softer red */
  font-family: "Roboto", sans-serif;
  font-weight: 400; /* Ensuring it's light */
  text-transform: uppercase;
  padding: 10px;
  border-bottom: 2px solid #d32f2f; /* Adds a nice bottom border */
  display: inline-block;

  /* Adjustments for width consistency */
  letter-spacing: 2px; /* Increase spacing to match "Hello World" */
  word-spacing: 6px;   /* Adjust gap between words */
}

.note {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #555;
  text-align: left;
  margin-top: 12px;
  opacity: 0.85;
  max-width: {{.Spec.Canvas.Width}};
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
}